body {
    height: 100%;
    margin: 0;
    background-color: #FFCBDD;
}


.princ{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    padding: 70px 0;
    display: block;
    width: 100%;
    height: auto;
}

.login{
    height: 100%;
    width: 40%;
    
}

.full-input{
    display: inline-block;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    padding-right: 3px;
    margin-right: 15px;
    border: 2px solid white;
    background-color: #A1CDF4;
    border: 0;
    border-radius: 5px;
    outline: none;
    border-bottom: 3px solid #FB4B4E ;
    background-color:#A1CDF4; 
}

.full-input form label{
    padding-left:15px;
    font: 24px system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    color:#1A1A1A;
}

.full-input form input{ 
    width: 300px;
    font: 16px system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    margin: 5px;
    border: none;
    background-color:#A1CDF4;
    color: #1A1A1A ;
    outline: none;
} 

.full-input:focus-within{
    border-bottom: 3px solid #7C0B2B;
}

.footer ul{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font: 15px system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    color:#7C0B2B;
    padding-right:30px;
    text-decoration: none;
}

ul {
    list-style-type: none; 
}

li{
    padding-right:16px;
}
.meow img{
    margin-left: 20%;
}

input.boton {
    width: 152px;
    margin-top: 20px;
    margin-left: 500px;
    height: 58px;
    background: url(../src/resources/botonsinhover.png) no-repeat;
    cursor:pointer;
    border: none;
    outline: none;
}

input.boton:hover{
    width: 152px;
    height: 58px;
    background: url(../src/resources/botonconhover.png) no-repeat;
    cursor:pointer;
    border: none;
    outline: none;
}
